<aside class="right">
           <div class="rnav">
                <ul>
                    <li class="rnav1"><a href="javascript:;" target="_blank">日记</a></li>
                    <li class="rnav2"><a href="javascript:;" target="_blank">欣赏</a></li>
                    <li class="rnav3"><a href="javascript:;" target="_blank">程序人生</a></li>
                    <li class="rnav4"><a href="javascript:;" target="_blank">经典语录</a></li>
                </ul>
            </div>
        <div class="news">
            <h3>
                <p>最新<span>文章</span></p>
            </h3>
            <ul class="rank">
                {% for foo in '12345678910' %}
                     <li><a href="javascript:;" title="IP要突破2000+了" target="_blank">IP要突破2000+了</a></li>
                {% endfor %}


            </ul>
            <h3 class="ph">
                <p>模板<span>排行</span></p>
            </h3>
            <ul class="paih">
                <li><a href="javascript:;" title="【活动作品】柠檬绿兔小白个人博客模板" target="_blank">【活动作品】柠檬绿兔小白个人博客模板</a>
                </li>
                <li><a href="javascript:;" title="情侣博客模板系列之《回忆》Html" target="_blank">情侣博客模板系列之《回忆》Html</a>
                </li>
                <li><a href="javascript:;" title="黑色Html5个人博客模板主题《如影随形》" target="_blank">黑色Html5个人博客模板主题《如影随形》</a>
                </li>
                <li><a href="javascript:;" title=" 个人博客模板（2014草根寻梦）" target="_blank">
                    个人博客模板（2014草根寻梦）</a></li>
                <li><a href="javascript:;" title="个人博客《草根寻梦》—手机版模板" target="_blank">个人博客《草根寻梦》—手机版模板</a>
                </li>
                <li><a href="javascript:;" title="情侣博客模板系列之《初夏》Html" target="_blank">情侣博客模板系列之《初夏》Html</a>
                </li>
                <li><a href="javascript:;" title="响应式个人博客模板（蓝色清新）"
                       target="_blank">响应式个人博客模板（蓝色清新）</a></li>
                <li><a href="javascript:;" title="个人博客模板《世界杯来袭》" target="_blank">个人博客模板《世界杯来袭》</a>
                </li>
                <li><a href="javascript:;" title="情侣博客模板系列之《回忆》PSD" target="_blank">情侣博客模板系列之《回忆》PSD</a>
                </li>
            </ul>
            <h3 class="links">
                <p>友情<span>链接</span></p>
            </h3>
            <ul class="website">
                <li><a href="javascript:;" target="_blank">三维模型下载</a></li>
            </ul>

            <div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1488947579486">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq"   data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin"></a>
            </div>
            <div class="guanzhu">扫描二维码关注<span>王鑫博客</span>官方微信账号</div>
            <a href="/" class="weixin"></a></div>
    </aside>

{#这是index页面article#}