  <div class="ds-thread" data-category="3" data-thread-key="741" data-title="【孕期日记】生活本该如此" data-author-key=""
                 data-url="" id="ds-thread">
                <div id="ds-reset">
                    <div class="ds-meta" style="display: none;"><a href="javascript:void(0)"
                                                                   class="ds-like-thread-button ds-rounded"><span
                            class="ds-icon ds-icon-heart"></span> <span class="ds-thread-like-text">喜欢</span><span
                            class="ds-thread-cancel-like">取消喜欢</span></a><span class="ds-like-panel"><span
                            class="ds-highlight">391</span> 人喜欢</span></div>
                    <div class="ds-rounded" id="ds-hot-posts">
                        <div class="ds-header ds-gradient-bg">被顶起来的评论</div>
                        <ul>
                            <li class="ds-post" data-post-id="6208720490200253186">
                                <div class="ds-post-self" data-post-id="6208720490200253186"
                                     data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                    <div class="ds-avatar" data-user-id="11409911"><a rel="nofollow author"
                                                                                      target="_blank"
                                                                                      href="http://www.loveqiao.com/"
                                                                                      onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=11409911';"
                                                                                      title="前端老徐"><img
                                            src="http://ds.cdncache.org/avatar-50/911/199793.jpg" alt="前端老徐"></a></div>
                                    <div class="ds-comment-body">
                                        <div class="ds-comment-header"><a class="ds-user-name ds-highlight"
                                                                          data-qqt-account=""
                                                                          href="http://www.loveqiao.com/"
                                                                          onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=11409911';"
                                                                          rel="nofollow" target="_blank"
                                                                          data-user-id="11409911">前端老徐</a></div>
                                        <p>恭喜恭喜！</p>
                                        <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                                datetime="2015-10-23T14:06:28+08:00"
                                                                                                title="2015年10月23日 下午2:06:28">2015年10月23日</span><a
                                                class="ds-post-reply" href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-like"></span>顶(1)</a><a class="ds-post-repost"
                                                                                               href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-report"></span>举报</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ds-post" data-post-id="1162829203884743115">
                                <div class="ds-post-self" data-post-id="1162829203884743115"
                                     data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                    <div class="ds-avatar" data-user-id="12781339"><a rel="nofollow author"
                                                                                      target="_blank"
                                                                                      href="http://www.uuwenxue.cn/index.html"
                                                                                      onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=12781339';"
                                                                                      title="悠悠文学"><img
                                            src="http://img3.douban.com/icon/u130443085-2.jpg" alt="悠悠文学"></a></div>
                                    <div class="ds-comment-body">
                                        <div class="ds-comment-header"><a class="ds-user-name ds-highlight"
                                                                          data-qqt-account=""
                                                                          href="http://www.uuwenxue.cn/index.html"
                                                                          onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=12781339';"
                                                                          rel="nofollow" target="_blank"
                                                                          data-user-id="12781339">悠悠文学</a></div>
                                        <p>做妈妈了，恭喜啊。 <img
                                                src="http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/36/gza_org.gif"
                                                alt="[鼓掌]" title="[鼓掌]" class="ds-smiley"></p>
                                        <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                                datetime="2015-07-14T11:38:44+08:00"
                                                                                                title="2015年7月14日 上午11:38:44">2015年7月14日</span><a
                                                class="ds-post-reply" href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-like"></span>顶(1)</a><a class="ds-post-repost"
                                                                                               href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-report"></span>举报</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ds-post" data-post-id="1162829203884742464">
                                <div class="ds-post-self" data-post-id="1162829203884742464"
                                     data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                    <div class="ds-avatar" data-user-id="11893172"><a rel="nofollow author"
                                                                                      target="_blank"
                                                                                      href="http://weibo.com/2308412664"
                                                                                      onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=11893172';"
                                                                                      title="黑咔嚓"><img
                                            src="http://tp1.sinaimg.cn/2308412664/50/5715265924/1" alt="黑咔嚓"></a></div>
                                    <div class="ds-comment-body">
                                        <div class="ds-comment-header"><a class="ds-user-name ds-highlight"
                                                                          data-qqt-account=""
                                                                          href="http://weibo.com/2308412664"
                                                                          onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=11893172';"
                                                                          rel="nofollow" target="_blank"
                                                                          data-user-id="11893172">黑咔嚓</a></div>
                                        <p>除了好厉害 我还能说些什么呢?</p>
                                        <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                                datetime="2015-05-22T15:36:31+08:00"
                                                                                                title="2015年5月22日 下午3:36:31">2015年5月22日</span><a
                                                class="ds-post-reply" href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-like"></span>顶(1)</a><a class="ds-post-repost"
                                                                                               href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                              href="javascript:void(0);"><span
                                                class="ds-icon ds-icon-report"></span>举报</a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ds-comments-info">
                        <div class="ds-sort"><a class="ds-order-desc ds-current">最新</a><a class="ds-order-asc">最早</a><a
                                class="ds-order-hot">最热</a></div>
                        <ul class="ds-comments-tabs">
                            <li class="ds-tab"><a class="ds-comments-tab-duoshuo ds-current" href="javascript:void(0);"><span
                                    class="ds-highlight">93</span>条评论</a></li>
                            <li class="ds-tab"><a class="ds-comments-tab-weibo" href="javascript:void(0);"><span
                                    class="ds-highlight">4</span>条新浪微博</a></li>
                        </ul>
                    </div>
                    <ul class="ds-comments">
                        <li class="ds-post" data-post-id="6383793480157627137">
                            <div class="ds-post-self" data-post-id="6383793480157627137"
                                 data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                <div class="ds-avatar" data-user-id="6369429529110250242"><img
                                        src="http://q.qlogo.cn/qqapp/100229475/5C427CD261B8576989CB2C602D6DB26F/100"
                                        alt="uu"></div>
                                <div class="ds-comment-body">
                                    <div class="ds-comment-header"><span class="ds-user-name"
                                                                         data-user-id="6369429529110250242"
                                                                         data-qqt-account="">uu</span></div>
                                    <p>www.liangzl.com 交换友链给我留言,来访必回</p>
                                    <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                            datetime="2017-02-06T08:59:04+08:00"
                                                                                            title="2017年2月6日 上午8:59:04">2月6日</span><a
                                            class="ds-post-reply" href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost"
                                                                                        href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-report"></span>举报</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="ds-post" data-post-id="6327664503240524545">
                            <div class="ds-post-self" data-post-id="6327664503240524545"
                                 data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                <div class="ds-avatar"><a rel="nofollow author" target="_blank"
                                                          href="http://www.xevip.cn" title="小易分享网"><img
                                        src="https://avatar.duoshuo.com/avatar-50/587/39630.jpg" alt="小易分享网"></a></div>
                                <div class="ds-comment-body">
                                    <div class="ds-comment-header"><a class="ds-user-name ds-highlight"
                                                                      data-qqt-account="" href="http://www.xevip.cn"
                                                                      rel="nofollow" target="_blank">小易分享网</a></div>
                                    <p>写的不错哈，支持一下 诚交友情链接,请先做好本站链接,到站务处理申请 http://www.xevip.cn</p>
                                    <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                            datetime="2016-09-08T02:49:59+08:00"
                                                                                            title="2016年9月8日 上午2:49:59">2016年9月8日</span><a
                                            class="ds-post-reply" href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost"
                                                                                        href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-report"></span>举报</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="ds-post" data-post-id="6324551291678753538">
                            <div class="ds-post-self" data-post-id="6324551291678753538"
                                 data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                <div class="ds-avatar" data-user-id="6324546567231505154"><a rel="nofollow author"
                                                                                             target="_blank"
                                                                                             href="http://www.mvdev.cn/"
                                                                                             onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=6324546567231505154';"
                                                                                             title="诺里斯"><img
                                        src="http://q.qlogo.cn/qqapp/100229475/A9FD6F410AC394728FBA8EF20259CF52/100"
                                        alt="诺里斯"></a></div>
                                <div class="ds-comment-body">
                                    <div class="ds-comment-header"><a class="ds-user-name ds-highlight"
                                                                      data-qqt-account="" href="http://www.mvdev.cn/"
                                                                      onclick="this.href='http://yangqq.duoshuo.com/user-url/?user_id=6324546567231505154';"
                                                                      rel="nofollow" target="_blank"
                                                                      data-user-id="6324546567231505154">诺里斯</a></div>
                                    <p>正在学习建站,参考下你的博客,非常感谢!</p>
                                    <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                            datetime="2016-08-30T17:29:08+08:00"
                                                                                            title="2016年8月30日 下午5:29:08">2016年8月30日</span><a
                                            class="ds-post-reply" href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost"
                                                                                        href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-report"></span>举报</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="ds-post" data-post-id="6323049623816504065">
                            <div class="ds-post-self" data-post-id="6323049623816504065"
                                 data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                <div class="ds-avatar"><img src="https://avatar.duoshuo.com/avatar-50/587/39630.jpg"
                                                            alt="sOABR"></div>
                                <div class="ds-comment-body">
                                    <div class="ds-comment-header"><span class="ds-user-name"
                                                                         data-qqt-account="">sOABR</span></div>
                                    <p>万 部 A 片高清 国产日韩 hTTp://uVU.cc/igwI<br>
                                        <br>
                                        <img src="http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c9/geili_org.gif"
                                             alt="[给力]" title="[给力]" class="ds-smiley"></p>
                                    <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                            datetime="2016-08-26T16:21:53+08:00"
                                                                                            title="2016年8月26日 下午4:21:53">2016年8月26日</span><a
                                            class="ds-post-reply" href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost"
                                                                                        href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-report"></span>举报</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="ds-post" data-post-id="6322819425347044097">
                            <div class="ds-post-self" data-post-id="6322819425347044097"
                                 data-thread-id="1162829203884737382" data-root-id="0" data-source="duoshuo">
                                <div class="ds-avatar"><img src="https://avatar.duoshuo.com/avatar-50/587/39630.jpg"
                                                            alt="hwpfv"></div>
                                <div class="ds-comment-body">
                                    <div class="ds-comment-header"><span class="ds-user-name"
                                                                         data-qqt-account="">hwpfv</span></div>
                                    <p>万 部 A 片高清 国产日韩 hTTp://T.CN/RtdW3KQ<br>
                                        <br>
                                        <img src="http://img.t.sinajs.cn/t35/style/images/common/face/ext/normal/c9/geili_org.gif"
                                             alt="[给力]" title="[给力]" class="ds-smiley"></p>
                                    <div class="ds-comment-footer ds-comment-actions"><span class="ds-time"
                                                                                            datetime="2016-08-26T01:28:36+08:00"
                                                                                            title="2016年8月26日 上午1:28:36">2016年8月26日</span><a
                                            class="ds-post-reply" href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-reply"></span>回复</a><a class="ds-post-likes"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-like"></span>顶</a><a class="ds-post-repost"
                                                                                        href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-share"></span>转发</a><a class="ds-post-report"
                                                                                          href="javascript:void(0);"><span
                                            class="ds-icon ds-icon-report"></span>举报</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="ds-paginator">
                        <div class="ds-border"></div>
                        <a data-page="1" href="javascript:void(0);" class="ds-current">1</a> <a data-page="2"
                                                                                                href="javascript:void(0);">2</a>
                        <a data-page="3" href="javascript:void(0);">3</a> <a data-page="4"
                                                                             href="javascript:void(0);">4</a> <a
                            data-page="5" href="javascript:void(0);">5</a> <span class="page-break">...</span> <a
                            data-page="15" href="javascript:void(0);">15</a></div>
                    <a name="respond"></a>
                    <div class="ds-login-buttons"><p>社交帐号登录:</p>
                        <div class="ds-social-links">
                            <ul class="ds-service-list">
                                <li><a href="http://yangqq.duoshuo.com/login/weixin/" rel="nofollow"
                                       class="ds-service-link ds-weixin">微信</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/weibo/" rel="nofollow"
                                       class="ds-service-link ds-weibo">微博</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/qq/" rel="nofollow"
                                       class="ds-service-link ds-qq">QQ</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/renren/" rel="nofollow"
                                       class="ds-service-link ds-renren">人人</a></li>
                                <li><a class="ds-more-services" href="javascript:void(0)">更多»</a></li>
                            </ul>
                            <ul class="ds-service-list ds-additional-services">
                                <li><a href="http://yangqq.duoshuo.com/login/douban/" rel="nofollow"
                                       class="ds-service-link ds-douban">豆瓣</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/kaixin/" rel="nofollow"
                                       class="ds-service-link ds-kaixin">开心</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/baidu/" rel="nofollow"
                                       class="ds-service-link ds-baidu">百度</a></li>
                                <li><a href="http://yangqq.duoshuo.com/login/google/" rel="nofollow"
                                       class="ds-service-link ds-google">谷歌</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ds-replybox"><a class="ds-avatar" href="javascript:void(0);" onclick="return false"><img
                            src="https://avatar.duoshuo.com/avatar-50/587/39630.jpg" alt=""></a>
                        <form method="post"><input type="hidden" name="thread_id" value="1162829203884737382">
                            <input type="hidden" name="parent_id" value="">
                            <input type="hidden" name="nonce" value="58bdffbc52e6b">
                            <div class="ds-textarea-wrapper ds-rounded-top"><textarea name="message"
                                                                                      title="Ctrl+Enter快捷提交"
                                                                                      placeholder="说点什么吧…"></textarea>
                                <pre class="ds-hidden-text"></pre>
                            </div>
                            <div class="ds-post-toolbar">
                                <div class="ds-post-options ds-gradient-bg"><span class="ds-sync"></span></div>
                                <button class="ds-post-button" type="submit">发布</button>
                                <div class="ds-toolbar-buttons"><a class="ds-toolbar-button ds-add-emote"
                                                                   title="插入表情"></a></div>
                            </div>
                        </form>
                    </div>
                    <p class="ds-powered-by"><a href="http://duoshuo.com" target="_blank"
                                                rel="nofollow">杨青个人博客网站正在使用多说</a></p></div>
            </div>